*{margin:0;padding:0;}
body{
	font-family:Sans-serif;
}

.full_wrap{
	width:100%;
}
.wrap{
	width:960px;
	margin:0 auto;
	display:block;
}
/* box-shadow: 0 20px 18px 9px #047dab; */

.shadow_bg{
	background:#0B4463;
}
.shadow{
	width:960px;
	margin:auto;
	-webkit-box-shadow:0px 9px 18px 8px #007faf;
	-moz-box-shadow:0px 9px 18px 8px #007faf;
	box-shadow:0px 9px 18px 8px #007faf;
}


#header{
	text-transform: uppercase;
	padding:25px;
	background:#0D6392;
	color:#dde8ed;
	display:block;
	text-shadow: 0 0 20px #00f3ff;
}
.header_bg{
	background:#0D6392;
	border-top:5px solid #02B1F3;
}
#header h2{
	padding:4px;
	font-size: 35px;
	cursor: none;
}
#header p{
	font-size: 11px;
    padding-left: 5px;
    letter-spacing: 2px;
}






.nav_bg{
	background:#0D6392;
	border-bottom:5px solid #02B1F3;
	border-top:5px solid #02B1F3;
}
#nav{
	text-transform: uppercase;
	background:#0D6392;
	min-height:58px;
}
#nav ul li{
	float:left;
	list-style-type:none;
	position:relative;
	z-index:10;
}
#nav ul li a{
	display:block;
	padding:20px 30px;
	background:#0D6392;
	color:#F5F7F9;
	text-decoration:none;
	transition: background 0.3s ease,font-size 0.1s ease-out;
	-webkit-transition: background 0.3s ease,font-size 0.1s ease-out;
	-moz-transition: background 0.3s ease,font-size 0.1s ease-out;
}
#nav ul li a:hover{
	background:#02B1F3;
	font-size: 17px;
}
/*DropDown*/

#nav ul li ul{
	list-style-type:none;
	position:absolute;
	left:-999999px;
}

#nav ul li:hover ul{
	left:0px;
}

#nav ul li ul li{
	float:none;
	padding:0;
	width:218px;
	border-bottom:1px solid #02B1F3;
	border-left:1px solid #02B1F3;
	position;relative;
}
#nav ul li ul li a{
	padding:15px 25px;
	font-size:15px;
}

#nav ul li ul li:first-child{
	border-top:5px solid #02B1F3;
}

#nav ul li:hover ul li a{
	background:#02B1F3;
}
#nav ul li ul li:hover a{
	background:#0D6392;
	font-size:16px;
}
#nav ul li ul li:hover ul li a{
	font-size:15px;
}
/* Sub DropDown*/

#nav ul li ul li ul{
	position:absolute;
	top:-999999px;
}


#nav ul li ul li:hover ul{
	top:-1px;
	left:218px;
}
#nav ul li ul li ul li a{
	padding:15px 25px;
}
#nav ul li ul li ul li{
	width:230px;
}
#nav ul li ul li ul li a:hover{
	background:#02B1F3;
	font-size:17px;
}
#nav ul li ul li ul li:first-child{
	border-top:1px solid #02B1F3;
}

#ero:after{
	content: "»";
    margin-left: 6px;
}

#nav ul .selected{
	background:#02B1F3;
	font-size:17px;
}




#slider_wrapper{
	margin:0 auto;
	width:950px;
	border-left:5px solid #02B1F3;
	border-right:5px solid #02B1F3;
	border-bottom:5px solid #02B1F3;
}
.slider_bg{
	background:#0B4463;
}





.gif_wrap_bg{
	background:#0B4463;
	margin:0 auto;
}
#wellcome_gif{
	width:950px;
	background:#001F36;
	border-left:5px solid #02B1F3;
	border-right:5px solid #02B1F3;
}
#wellcome_gif img{
	width:400px;
	height:200px;
	margin: 0px 279px;
}




#content_wrap{
	background:#E1E9ED;
	padding:10px;
	overflow:hidden;
	border-left:5px solid #02B1F3;
	border-right:5px solid #02B1F3;
}



.content_wrap_bg{
	background:#0B4463;
}

#content{
	width:610px;
	margin:5px 10px;
	float:left;
}
#content h2{
	color:#0B4463;
	margin:5px 5px;
}
#content p{
	text-align:justify;
}


#content2nd{
	width:610px;
	margin:5px 10px;
	float:left;	
}
#content2nd h2{
	color:#0B4463;
	margin:5px 5px;
	font-size:23px;
}
#content2nd h3{
	color:#0B4463;
	margin:5px 5px;	
	font-size:20px;
}

#content2nd p{
	text-align:justify;	
	margin:15px 0;
	font-size:16px;
}
#content2nd img{
	width:450px;
	height:400px;
}
#content2nd figure{
	width:450px;
	padding:10px;
	margin:0 auto;
	display:block;
	background:#B0C9D5;
}
#content2nd figcaption{
	text-align:center;
	font-weight:bold;
	color:#0B4463;
	padding-top:6px;
}
#content2nd blockquote{
	font-weight:bold;
	background:#B0C9D5;
	margin-left:50px;
	padding:10px;
	padding-left:30px;
	border-left:2px solid #00FFF7;
	
}



#sidebar{
	width:300px;
	float:left;
}
#main_sidebar ul li{
	list-style-type:none;
	padding-left:10px;
}

#main_sidebar ul li a{
	text-decoration:none;
	color:#888B8D;
	padding:3px;
	display:block;
	margin-left:10px;
	border-bottom:1px solid #0B4463;
}

#main_sidebar  h2{
	margin:5px 5px;
	color:#0B4463;
	margin-bottom:10px;
}




#footer{
	background:#0D6392;
	padding:10px;
	text-align:center;
}

#footer p{
	text-transform:uppercase;
	color:#DDE8ED;
	font-size:14px;
}

.footer_bg{
	background:#0D6392;
	border-top:5px solid #02B1F3;
	border-bottom:5px solid #02B1F3;
}


#main_article_single{
	margin-bottom:25px;
	border-bottom:1px solid #0D6392;
	overflow:hidden;
	-webkit-box-shadow: -1px 5px 9px 0px #0b44637a;
	-moz-box-shadow: -1px 5px 9px 0px #0b44637a;
	box-shadow: 0 0 3px 0px #0b44637a;
	cursor: pointer;
}
#main_article_single:hover{
	    -webkit-box-shadow: 0 0px 5px 0px #0b44637a;
	    -moz-box-shadow: 0 0px 5px 0px #0b44637a;
	    box-shadow: -1px 2px 9px 2px #0b44637a;
}

#imgp_wrap img{
	width:80px;
	height:80px;
	background:#c2cdd2;
	padding:5px;
	border:1px solid #0b446357;
	margin-right:10px;
	float:left;
}
#imgp_wrap p{
	float:left;
	width:500px;
	margin-bottom:10px;
}
#imgp_wrap{
	margin-top:10px;
}








